//! **************************************************************************
// Written by: Map M.81d on Sun Apr 26 15:29:08 2015
//! **************************************************************************

SCHEMATIC START;
COMP "seg<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "N14" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "M14" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "U17" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "T18" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "T17" LEVEL 1;
COMP "seg<7>" LOCATE = SITE "M13" LEVEL 1;
COMP "mclk" LOCATE = SITE "T12" LEVEL 1;
COMP "lrck" LOCATE = SITE "V12" LEVEL 1;
COMP "sclk" LOCATE = SITE "N10" LEVEL 1;
COMP "sdin" LOCATE = SITE "P11" LEVEL 1;
COMP "clk" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "B8" LEVEL 1;
COMP "an<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "an<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "an<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "an<3>" LOCATE = SITE "P17" LEVEL 1;
TIMEGRP sys_clk_pin = BEL "cpu/main/d2/d2/reg_15" BEL "cpu/main/d2/d2/reg_14"
        BEL "cpu/main/d2/d2/reg_11" BEL "cpu/main/d2/d2/reg_10" BEL
        "cpu/main/d2/d2/reg_9" BEL "cpu/main/d2/d2/reg_8" BEL
        "cpu/main/d2/d2/reg_7" BEL "cpu/main/d2/d2/reg_6" BEL
        "cpu/main/d2/d2/reg_5" BEL "cpu/main/d2/d2/reg_4" BEL
        "cpu/main/d2/d2/reg_3" BEL "cpu/main/d2/d2/reg_2" BEL
        "cpu/main/d2/d2/reg_1" BEL "cpu/main/d2/d2/reg_0" BEL
        "cpu/main/mem/d4/reg_15" BEL "cpu/main/mem/d4/reg_14" BEL
        "cpu/main/mem/d4/reg_13" BEL "cpu/main/mem/d4/reg_12" BEL
        "cpu/main/mem/d4/reg_11" BEL "cpu/main/mem/d4/reg_10" BEL
        "cpu/main/mem/d4/reg_9" BEL "cpu/main/mem/d4/reg_8" BEL
        "cpu/main/mem/d4/reg_7" BEL "cpu/main/mem/d4/reg_6" BEL
        "cpu/main/mem/d4/reg_5" BEL "cpu/main/mem/d4/reg_4" BEL
        "cpu/main/mem/d4/reg_3" BEL "cpu/main/mem/d4/reg_2" BEL
        "cpu/main/mem/d4/reg_1" BEL "cpu/main/mem/d4/reg_0" BEL
        "cpu/main/z3Reg/reg_15" BEL "cpu/main/z3Reg/reg_14" BEL
        "cpu/main/z3Reg/reg_13" BEL "cpu/main/z3Reg/reg_12" BEL
        "cpu/main/z3Reg/reg_11" BEL "cpu/main/z3Reg/reg_10" BEL
        "cpu/main/z3Reg/reg_9" BEL "cpu/main/z3Reg/reg_8" BEL
        "cpu/main/z3Reg/reg_7" BEL "cpu/main/z3Reg/reg_6" BEL
        "cpu/main/z3Reg/reg_5" BEL "cpu/main/z3Reg/reg_4" BEL
        "cpu/main/z3Reg/reg_3" BEL "cpu/main/z3Reg/reg_2" BEL
        "cpu/main/z3Reg/reg_1" BEL "cpu/main/z3Reg/reg_0" BEL
        "cpu/main/d3Reg/reg_15" BEL "cpu/main/d3Reg/reg_14" BEL
        "cpu/main/d3Reg/reg_13" BEL "cpu/main/d3Reg/reg_12" BEL
        "cpu/main/d3Reg/reg_11" BEL "cpu/main/d3Reg/reg_10" BEL
        "cpu/main/d3Reg/reg_9" BEL "cpu/main/d3Reg/reg_8" BEL
        "cpu/main/d3Reg/reg_7" BEL "cpu/main/d3Reg/reg_6" BEL
        "cpu/main/d3Reg/reg_5" BEL "cpu/main/d3Reg/reg_4" BEL
        "cpu/main/d3Reg/reg_3" BEL "cpu/main/d3Reg/reg_2" BEL
        "cpu/main/d3Reg/reg_1" BEL "cpu/main/d3Reg/reg_0" BEL
        "cpu/main/alu/ALUi/srNlast" BEL "cpu/main/alu/ALUi/srZlast" BEL
        "cpu/main/alu/ALUi/srOlast" BEL "cpu/main/alu/ALUi/srClast" BEL
        "cpu/main/regs/gregs[0].genReg/reg_0" BEL
        "cpu/main/regs/gregs[0].genReg/reg_1" BEL
        "cpu/main/regs/gregs[0].genReg/reg_2" BEL
        "cpu/main/regs/gregs[0].genReg/reg_3" BEL
        "cpu/main/regs/gregs[0].genReg/reg_4" BEL
        "cpu/main/regs/gregs[0].genReg/reg_5" BEL
        "cpu/main/regs/gregs[0].genReg/reg_6" BEL
        "cpu/main/regs/gregs[0].genReg/reg_7" BEL
        "cpu/main/regs/gregs[0].genReg/reg_8" BEL
        "cpu/main/regs/gregs[0].genReg/reg_9" BEL
        "cpu/main/regs/gregs[0].genReg/reg_10" BEL
        "cpu/main/regs/gregs[0].genReg/reg_11" BEL
        "cpu/main/regs/gregs[0].genReg/reg_12" BEL
        "cpu/main/regs/gregs[0].genReg/reg_13" BEL
        "cpu/main/regs/gregs[0].genReg/reg_14" BEL
        "cpu/main/regs/gregs[0].genReg/reg_15" BEL
        "cpu/main/regs/gregs[1].genReg/reg_0" BEL
        "cpu/main/regs/gregs[1].genReg/reg_1" BEL
        "cpu/main/regs/gregs[1].genReg/reg_2" BEL
        "cpu/main/regs/gregs[1].genReg/reg_3" BEL
        "cpu/main/regs/gregs[1].genReg/reg_4" BEL
        "cpu/main/regs/gregs[1].genReg/reg_5" BEL
        "cpu/main/regs/gregs[1].genReg/reg_6" BEL
        "cpu/main/regs/gregs[1].genReg/reg_7" BEL
        "cpu/main/regs/gregs[1].genReg/reg_8" BEL
        "cpu/main/regs/gregs[1].genReg/reg_9" BEL
        "cpu/main/regs/gregs[1].genReg/reg_10" BEL
        "cpu/main/regs/gregs[1].genReg/reg_11" BEL
        "cpu/main/regs/gregs[1].genReg/reg_12" BEL
        "cpu/main/regs/gregs[1].genReg/reg_13" BEL
        "cpu/main/regs/gregs[1].genReg/reg_14" BEL
        "cpu/main/regs/gregs[1].genReg/reg_15" BEL
        "cpu/main/regs/gregs[2].genReg/reg_0" BEL
        "cpu/main/regs/gregs[2].genReg/reg_1" BEL
        "cpu/main/regs/gregs[2].genReg/reg_2" BEL
        "cpu/main/regs/gregs[2].genReg/reg_3" BEL
        "cpu/main/regs/gregs[2].genReg/reg_4" BEL
        "cpu/main/regs/gregs[2].genReg/reg_5" BEL
        "cpu/main/regs/gregs[2].genReg/reg_6" BEL
        "cpu/main/regs/gregs[2].genReg/reg_7" BEL
        "cpu/main/regs/gregs[2].genReg/reg_8" BEL
        "cpu/main/regs/gregs[2].genReg/reg_9" BEL
        "cpu/main/regs/gregs[2].genReg/reg_10" BEL
        "cpu/main/regs/gregs[2].genReg/reg_11" BEL
        "cpu/main/regs/gregs[2].genReg/reg_12" BEL
        "cpu/main/regs/gregs[2].genReg/reg_13" BEL
        "cpu/main/regs/gregs[2].genReg/reg_14" BEL
        "cpu/main/regs/gregs[2].genReg/reg_15" BEL
        "cpu/main/regs/gregs[3].genReg/reg_0" BEL
        "cpu/main/regs/gregs[3].genReg/reg_1" BEL
        "cpu/main/regs/gregs[3].genReg/reg_2" BEL
        "cpu/main/regs/gregs[3].genReg/reg_3" BEL
        "cpu/main/regs/gregs[3].genReg/reg_4" BEL
        "cpu/main/regs/gregs[3].genReg/reg_5" BEL
        "cpu/main/regs/gregs[3].genReg/reg_6" BEL
        "cpu/main/regs/gregs[3].genReg/reg_7" BEL
        "cpu/main/regs/gregs[3].genReg/reg_8" BEL
        "cpu/main/regs/gregs[3].genReg/reg_9" BEL
        "cpu/main/regs/gregs[3].genReg/reg_10" BEL
        "cpu/main/regs/gregs[3].genReg/reg_11" BEL
        "cpu/main/regs/gregs[3].genReg/reg_12" BEL
        "cpu/main/regs/gregs[3].genReg/reg_13" BEL
        "cpu/main/regs/gregs[3].genReg/reg_14" BEL
        "cpu/main/regs/gregs[3].genReg/reg_15" BEL
        "cpu/main/regs/gregs[4].genReg/reg_0" BEL
        "cpu/main/regs/gregs[4].genReg/reg_1" BEL
        "cpu/main/regs/gregs[4].genReg/reg_2" BEL
        "cpu/main/regs/gregs[4].genReg/reg_3" BEL
        "cpu/main/regs/gregs[4].genReg/reg_4" BEL
        "cpu/main/regs/gregs[4].genReg/reg_5" BEL
        "cpu/main/regs/gregs[4].genReg/reg_6" BEL
        "cpu/main/regs/gregs[4].genReg/reg_7" BEL
        "cpu/main/regs/gregs[4].genReg/reg_8" BEL
        "cpu/main/regs/gregs[4].genReg/reg_9" BEL
        "cpu/main/regs/gregs[4].genReg/reg_10" BEL
        "cpu/main/regs/gregs[4].genReg/reg_11" BEL
        "cpu/main/regs/gregs[4].genReg/reg_12" BEL
        "cpu/main/regs/gregs[4].genReg/reg_13" BEL
        "cpu/main/regs/gregs[4].genReg/reg_14" BEL
        "cpu/main/regs/gregs[4].genReg/reg_15" BEL
        "cpu/main/regs/gregs[5].genReg/reg_0" BEL
        "cpu/main/regs/gregs[5].genReg/reg_1" BEL
        "cpu/main/regs/gregs[5].genReg/reg_2" BEL
        "cpu/main/regs/gregs[5].genReg/reg_3" BEL
        "cpu/main/regs/gregs[5].genReg/reg_4" BEL
        "cpu/main/regs/gregs[5].genReg/reg_5" BEL
        "cpu/main/regs/gregs[5].genReg/reg_6" BEL
        "cpu/main/regs/gregs[5].genReg/reg_7" BEL
        "cpu/main/regs/gregs[5].genReg/reg_8" BEL
        "cpu/main/regs/gregs[5].genReg/reg_9" BEL
        "cpu/main/regs/gregs[5].genReg/reg_10" BEL
        "cpu/main/regs/gregs[5].genReg/reg_11" BEL
        "cpu/main/regs/gregs[5].genReg/reg_12" BEL
        "cpu/main/regs/gregs[5].genReg/reg_13" BEL
        "cpu/main/regs/gregs[5].genReg/reg_14" BEL
        "cpu/main/regs/gregs[5].genReg/reg_15" BEL
        "cpu/main/regs/gregs[6].genReg/reg_0" BEL
        "cpu/main/regs/gregs[6].genReg/reg_1" BEL
        "cpu/main/regs/gregs[6].genReg/reg_2" BEL
        "cpu/main/regs/gregs[6].genReg/reg_3" BEL
        "cpu/main/regs/gregs[6].genReg/reg_4" BEL
        "cpu/main/regs/gregs[6].genReg/reg_5" BEL
        "cpu/main/regs/gregs[6].genReg/reg_6" BEL
        "cpu/main/regs/gregs[6].genReg/reg_7" BEL
        "cpu/main/regs/gregs[6].genReg/reg_8" BEL
        "cpu/main/regs/gregs[6].genReg/reg_9" BEL
        "cpu/main/regs/gregs[6].genReg/reg_10" BEL
        "cpu/main/regs/gregs[6].genReg/reg_11" BEL
        "cpu/main/regs/gregs[6].genReg/reg_12" BEL
        "cpu/main/regs/gregs[6].genReg/reg_13" BEL
        "cpu/main/regs/gregs[6].genReg/reg_14" BEL
        "cpu/main/regs/gregs[6].genReg/reg_15" BEL
        "cpu/main/regs/gregs[7].genReg/reg_0" BEL
        "cpu/main/regs/gregs[7].genReg/reg_1" BEL
        "cpu/main/regs/gregs[7].genReg/reg_2" BEL
        "cpu/main/regs/gregs[7].genReg/reg_3" BEL
        "cpu/main/regs/gregs[7].genReg/reg_4" BEL
        "cpu/main/regs/gregs[7].genReg/reg_5" BEL
        "cpu/main/regs/gregs[7].genReg/reg_6" BEL
        "cpu/main/regs/gregs[7].genReg/reg_7" BEL
        "cpu/main/regs/gregs[7].genReg/reg_8" BEL
        "cpu/main/regs/gregs[7].genReg/reg_9" BEL
        "cpu/main/regs/gregs[7].genReg/reg_10" BEL
        "cpu/main/regs/gregs[7].genReg/reg_11" BEL
        "cpu/main/regs/gregs[7].genReg/reg_12" BEL
        "cpu/main/regs/gregs[7].genReg/reg_13" BEL
        "cpu/main/regs/gregs[7].genReg/reg_14" BEL
        "cpu/main/regs/gregs[7].genReg/reg_15" BEL
        "cpu/main/regs/audioReg/reg_0" BEL "cpu/main/regs/audioReg/reg_1" BEL
        "cpu/main/regs/audioReg/reg_2" BEL "cpu/main/regs/audioReg/reg_3" BEL
        "cpu/main/regs/audioReg/reg_4" BEL "cpu/main/regs/audioReg/reg_5" BEL
        "cpu/main/regs/audioReg/reg_6" BEL "cpu/main/regs/audioReg/reg_7" BEL
        "cpu/main/regs/audioReg/reg_8" BEL "cpu/main/regs/audioReg/reg_9" BEL
        "cpu/main/regs/audioReg/reg_10" BEL "cpu/main/regs/audioReg/reg_11"
        BEL "cpu/main/regs/audioReg/reg_12" BEL
        "cpu/main/regs/audioReg/reg_13" BEL "cpu/main/regs/audioReg/reg_14"
        BEL "cpu/main/regs/audioReg/reg_15" BEL "cpu/main/regs/SR/reg_0" BEL
        "cpu/main/regs/SR/reg_1" BEL "cpu/main/regs/SR/reg_2" BEL
        "cpu/main/regs/SR/reg_3" BEL "cpu/main/regs/SR/reg_4" BEL
        "cpu/main/regs/SR/reg_5" BEL "cpu/main/regs/lt1lsb/reg_0" BEL
        "cpu/main/regs/lt1lsb/reg_1" BEL "cpu/main/regs/lt1lsb/reg_2" BEL
        "cpu/main/regs/lt1lsb/reg_3" BEL "cpu/main/regs/lt1lsb/reg_4" BEL
        "cpu/main/regs/lt1lsb/reg_5" BEL "cpu/main/regs/lt1lsb/reg_6" BEL
        "cpu/main/regs/lt1lsb/reg_7" BEL "cpu/main/regs/lt1lsb/reg_8" BEL
        "cpu/main/regs/lt1lsb/reg_9" BEL "cpu/main/regs/lt1lsb/reg_10" BEL
        "cpu/main/regs/lt1lsb/reg_11" BEL "cpu/main/regs/lt1lsb/reg_12" BEL
        "cpu/main/regs/lt1lsb/reg_13" BEL "cpu/main/regs/lt1lsb/reg_14" BEL
        "cpu/main/regs/lt1lsb/reg_15" BEL "cpu/main/regs/lt1msb/reg_0" BEL
        "cpu/main/regs/lt1msb/reg_1" BEL "cpu/main/regs/lt1msb/reg_2" BEL
        "cpu/main/regs/lt1msb/reg_3" BEL "cpu/main/regs/lt1msb/reg_4" BEL
        "cpu/main/regs/lt1msb/reg_5" BEL "cpu/main/regs/lt1msb/reg_6" BEL
        "cpu/main/regs/lt1msb/reg_7" BEL "cpu/main/regs/lt1msb/reg_8" BEL
        "cpu/main/regs/lt1msb/reg_9" BEL "cpu/main/regs/lt1msb/reg_10" BEL
        "cpu/main/regs/lt1msb/reg_11" BEL "cpu/main/regs/lt1msb/reg_12" BEL
        "cpu/main/regs/lt1msb/reg_13" BEL "cpu/main/regs/lt1msb/reg_14" BEL
        "cpu/main/regs/lt1msb/reg_15" BEL "cpu/main/regs/st1r/reg_0" BEL
        "cpu/main/regs/st1r/reg_1" BEL "cpu/main/regs/st1r/reg_2" BEL
        "cpu/main/regs/st1r/reg_3" BEL "cpu/main/regs/st1r/reg_4" BEL
        "cpu/main/regs/st1r/reg_5" BEL "cpu/main/regs/st1r/reg_6" BEL
        "cpu/main/regs/st1r/reg_7" BEL "cpu/main/regs/st1r/reg_8" BEL
        "cpu/main/regs/st1r/reg_9" BEL "cpu/main/regs/st1r/reg_10" BEL
        "cpu/main/regs/st1r/reg_11" BEL "cpu/main/regs/st1r/reg_12" BEL
        "cpu/main/regs/st1r/reg_13" BEL "cpu/main/regs/st1r/reg_14" BEL
        "cpu/main/regs/st1r/reg_15" BEL "cpu/main/regs/SRlast_5" BEL
        "cpu/main/regs/SRlast_4" BEL "cpu/main/regs/lt1t/counter_30" BEL
        "cpu/main/regs/lt1t/counter_29" BEL "cpu/main/regs/lt1t/counter_28"
        BEL "cpu/main/regs/lt1t/counter_27" BEL
        "cpu/main/regs/lt1t/counter_26" BEL "cpu/main/regs/lt1t/counter_25"
        BEL "cpu/main/regs/lt1t/counter_24" BEL
        "cpu/main/regs/lt1t/counter_23" BEL "cpu/main/regs/lt1t/counter_22"
        BEL "cpu/main/regs/lt1t/counter_21" BEL
        "cpu/main/regs/lt1t/counter_20" BEL "cpu/main/regs/lt1t/counter_19"
        BEL "cpu/main/regs/lt1t/counter_18" BEL
        "cpu/main/regs/lt1t/counter_17" BEL "cpu/main/regs/lt1t/counter_16"
        BEL "cpu/main/regs/lt1t/counter_15" BEL
        "cpu/main/regs/lt1t/counter_14" BEL "cpu/main/regs/lt1t/counter_13"
        BEL "cpu/main/regs/lt1t/counter_12" BEL
        "cpu/main/regs/lt1t/counter_11" BEL "cpu/main/regs/lt1t/counter_10"
        BEL "cpu/main/regs/lt1t/counter_9" BEL "cpu/main/regs/lt1t/counter_8"
        BEL "cpu/main/regs/lt1t/counter_7" BEL "cpu/main/regs/lt1t/counter_6"
        BEL "cpu/main/regs/lt1t/counter_5" BEL "cpu/main/regs/lt1t/counter_4"
        BEL "cpu/main/regs/lt1t/counter_3" BEL "cpu/main/regs/lt1t/counter_2"
        BEL "cpu/main/regs/lt1t/counter_1" BEL "cpu/main/regs/lt1t/counter_0"
        BEL "cpu/main/regs/st1t/counter_15" BEL
        "cpu/main/regs/st1t/counter_14" BEL "cpu/main/regs/st1t/counter_13"
        BEL "cpu/main/regs/st1t/counter_12" BEL
        "cpu/main/regs/st1t/counter_11" BEL "cpu/main/regs/st1t/counter_10"
        BEL "cpu/main/regs/st1t/counter_9" BEL "cpu/main/regs/st1t/counter_8"
        BEL "cpu/main/regs/st1t/counter_7" BEL "cpu/main/regs/st1t/counter_6"
        BEL "cpu/main/regs/st1t/counter_5" BEL "cpu/main/regs/st1t/counter_4"
        BEL "cpu/main/regs/st1t/counter_3" BEL "cpu/main/regs/st1t/counter_2"
        BEL "cpu/main/regs/st1t/counter_1" BEL "cpu/main/regs/st1t/counter_0"
        BEL "cpu/main/ir4/reg_31" BEL "cpu/main/ir4/reg_30" BEL
        "cpu/main/ir4/reg_29" BEL "cpu/main/ir4/reg_27" BEL
        "cpu/main/ir4/reg_26" BEL "cpu/main/ir4/reg_25" BEL
        "cpu/main/ir4/reg_24" BEL "cpu/main/ir4/reg_23" BEL
        "cpu/main/ir4/reg_22" BEL "cpu/main/ir3/reg_31" BEL
        "cpu/main/ir3/reg_30" BEL "cpu/main/ir3/reg_29" BEL
        "cpu/main/ir3/reg_27" BEL "cpu/main/ir3/reg_26" BEL
        "cpu/main/ir3/reg_25" BEL "cpu/main/ir3/reg_24" BEL
        "cpu/main/ir3/reg_23" BEL "cpu/main/ir3/reg_22" BEL
        "cpu/main/mem/mem/Mram_mem16" BEL "cpu/main/mem/mem/Mram_mem15" BEL
        "cpu/main/mem/mem/Mram_mem14" BEL "cpu/main/mem/mem/Mram_mem13" BEL
        "cpu/main/mem/mem/Mram_mem12" BEL "cpu/main/mem/mem/Mram_mem11" BEL
        "cpu/main/mem/mem/Mram_mem10" BEL "cpu/main/mem/mem/Mram_mem9" BEL
        "cpu/main/mem/mem/Mram_mem8" BEL "cpu/main/mem/mem/Mram_mem7" BEL
        "cpu/main/mem/mem/Mram_mem6" BEL "cpu/main/mem/mem/Mram_mem5" BEL
        "cpu/main/mem/mem/Mram_mem4" BEL "cpu/main/mem/mem/Mram_mem3" BEL
        "cpu/main/mem/mem/Mram_mem2" BEL "cpu/main/mem/mem/Mram_mem1" BEL
        "cpu/main/mem/mem/outputZ4_15" BEL "cpu/main/mem/mem/outputZ4_14" BEL
        "cpu/main/mem/mem/outputZ4_13" BEL "cpu/main/mem/mem/outputZ4_12" BEL
        "cpu/main/mem/mem/outputZ4_11" BEL "cpu/main/mem/mem/outputZ4_10" BEL
        "cpu/main/mem/mem/outputZ4_9" BEL "cpu/main/mem/mem/outputZ4_8" BEL
        "cpu/main/mem/mem/outputZ4_7" BEL "cpu/main/mem/mem/outputZ4_6" BEL
        "cpu/main/mem/mem/outputZ4_5" BEL "cpu/main/mem/mem/outputZ4_4" BEL
        "cpu/main/mem/mem/outputZ4_3" BEL "cpu/main/mem/mem/outputZ4_2" BEL
        "cpu/main/mem/mem/outputZ4_1" BEL "cpu/main/mem/mem/outputZ4_0" BEL
        "cpu/pmem/stallCount_1" BEL "cpu/pmem/stallCount_0" BEL
        "cpu/pmem/jmpc/pc2_5" BEL "cpu/pmem/jmpc/pc2_4" BEL
        "cpu/pmem/jmpc/pc2_3" BEL "cpu/pmem/jmpc/pc2_2" BEL
        "cpu/pmem/jmpc/pc2_1" BEL "cpu/pmem/jmpc/pc2_0" BEL
        "cpu/pmem/ir2c/ir2/reg_0" BEL "cpu/pmem/ir2c/ir2/reg_1" BEL
        "cpu/pmem/ir2c/ir2/reg_2" BEL "cpu/pmem/ir2c/ir2/reg_3" BEL
        "cpu/pmem/ir2c/ir2/reg_4" BEL "cpu/pmem/ir2c/ir2/reg_5" BEL
        "cpu/pmem/ir2c/ir2/reg_6" BEL "cpu/pmem/ir2c/ir2/reg_7" BEL
        "cpu/pmem/ir2c/ir2/reg_8" BEL "cpu/pmem/ir2c/ir2/reg_9" BEL
        "cpu/pmem/ir2c/ir2/reg_10" BEL "cpu/pmem/ir2c/ir2/reg_11" BEL
        "cpu/pmem/ir2c/ir2/reg_14" BEL "cpu/pmem/ir2c/ir2/reg_15" BEL
        "cpu/pmem/ir2c/ir2/reg_22" BEL "cpu/pmem/ir2c/ir2/reg_23" BEL
        "cpu/pmem/ir2c/ir2/reg_24" BEL "cpu/pmem/ir2c/ir2/reg_25" BEL
        "cpu/pmem/ir2c/ir2/reg_26" BEL "cpu/pmem/ir2c/ir2/reg_27" BEL
        "cpu/pmem/ir2c/ir2/reg_29" BEL "cpu/pmem/ir2c/ir2/reg_30" BEL
        "cpu/pmem/ir2c/ir2/reg_31" BEL "cpu/pmem/pc1/reg_5" BEL
        "cpu/pmem/pc1/reg_4" BEL "cpu/pmem/pc1/reg_3" BEL "cpu/pmem/pc1/reg_2"
        BEL "cpu/pmem/pc1/reg_1" BEL "cpu/pmem/pc1/reg_0" BEL
        "cpu/pmem/ir1c/ir1/reg_0" BEL "cpu/pmem/ir1c/ir1/reg_1" BEL
        "cpu/pmem/ir1c/ir1/reg_2" BEL "cpu/pmem/ir1c/ir1/reg_3" BEL
        "cpu/pmem/ir1c/ir1/reg_4" BEL "cpu/pmem/ir1c/ir1/reg_5" BEL
        "cpu/pmem/ir1c/ir1/reg_6" BEL "cpu/pmem/ir1c/ir1/reg_7" BEL
        "cpu/pmem/ir1c/ir1/reg_8" BEL "cpu/pmem/ir1c/ir1/reg_9" BEL
        "cpu/pmem/ir1c/ir1/reg_10" BEL "cpu/pmem/ir1c/ir1/reg_11" BEL
        "cpu/pmem/ir1c/ir1/reg_14" BEL "cpu/pmem/ir1c/ir1/reg_15" BEL
        "cpu/pmem/ir1c/ir1/reg_22" BEL "cpu/pmem/ir1c/ir1/reg_23" BEL
        "cpu/pmem/ir1c/ir1/reg_24" BEL "cpu/pmem/ir1c/ir1/reg_25" BEL
        "cpu/pmem/ir1c/ir1/reg_26" BEL "cpu/pmem/ir1c/ir1/reg_27" BEL
        "cpu/pmem/ir1c/ir1/reg_29" BEL "cpu/pmem/ir1c/ir1/reg_30" BEL
        "cpu/pmem/ir1c/ir1/reg_31" BEL "cpu/pmem/pc/pc_5" BEL
        "cpu/pmem/pc/pc_4" BEL "cpu/pmem/pc/pc_3" BEL "cpu/pmem/pc/pc_2" BEL
        "cpu/pmem/pc/pc_1" BEL "cpu/pmem/pc/pc_0" BEL
        "sout/sound_output/bitCounter_5" BEL "sout/sound_output/bitCounter_4"
        BEL "sout/sound_output/bitCounter_3" BEL
        "sout/sound_output/bitCounter_2" BEL "sout/sound_output/bitCounter_1"
        BEL "sout/sound_output/bitCounter_0" BEL "sout/sound_output/sdout" BEL
        "sout/sound_output/sample_15" BEL "sout/sound_output/sample_14" BEL
        "sout/sound_output/sample_13" BEL "sout/sound_output/sample_12" BEL
        "sout/sound_output/sample_11" BEL "sout/sound_output/sample_10" BEL
        "sout/sound_output/sample_9" BEL "sout/sound_output/sample_8" BEL
        "sout/sound_output/sample_7" BEL "sout/sound_output/sample_6" BEL
        "sout/sound_output/sample_5" BEL "sout/sound_output/sample_4" BEL
        "sout/sound_output/sample_3" BEL "sout/sound_output/sample_2" BEL
        "sout/sound_output/sample_1" BEL "sout/sound_output/sample_0" BEL
        "sout/sound_clkgen/mclk_counter_2" BEL
        "sout/sound_clkgen/mclk_counter_1" BEL
        "sout/sound_clkgen/mclk_counter_0" BEL "sout/sound_clkgen/clk_counter"
        BEL "cpu/main/regs/lt1t/finishedCounting" BEL
        "cpu/main/regs/st1t/finishedCounting" BEL "cpu/pmem/ir2c/ir2/reg_31_1"
        BEL "cpu/pmem/ir2c/ir2/reg_30_1" BEL "cpu/main/ir4/reg_30_1" BEL
        "cpu/pmem/ir2c/ir2/reg_29_1" BEL "cpu/pmem/ir2c/ir2/reg_31_2" BEL
        "cpu/pmem/ir2c/ir2/reg_30_2" BEL "cpu/pmem/ir2c/ir2/reg_29_2" BEL
        "cpu/pmem/ir2c/ir2/reg_27_1" BEL "cpu/pmem/ir2c/ir2/reg_27_2" BEL
        "sout/sound_output/lrckS" BEL "sout/sound_clkgen/mclkS" BEL
        "sout/sound_clkgen/sclkS" BEL "sout/sound_clkgen/mclk_pulse" BEL
        "clk_IBUF_BUFG" BEL "sout/sound_output/Mshreg_t3";
TS_sys_clk_pin = PERIOD TIMEGRP "sys_clk_pin" 100 MHz HIGH 50%;
SCHEMATIC END;

